# Dependencias
node_modules/
package-lock.json

# Variables de entorno
.env
.env.local
.env.production

# Archivos de pruebas
coverage/
*.log

# Archivos del sistema
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

# Vercel
.vercel

.claude/